$indent_left_level_1: 30px;
$indent_left_level_2: 60px;
$indent_left_level_3: 90px;

$margin_top_level_1: 15px;
$padding_top_level_1: 15px;
$padding_bottom_level_1: 15px;
$padding_right_level_1: 15px;

/* identification */
.usfm.id{
    display: none;
}
/* identification */

/* chaptersandverses */
.usfm.c,
.usfm.cp {
    font-size: 3.4em;
    font-weight: bold;
    float: left;
    margin-right: 10px;
}

.usfm.ca{
    font-size: 3.1rem;
    float: left;
}
.usfm.c .usfm.ca{
    display: inline;
    float: unset;
}
.usfm.ca::before{
    content: "(";
}
.usfm.ca::after{
    content: ")";
}

.usfm.verse_number {
    margin-right: 5px;
}
/* chaptersandverses */

/* introductions */
.usfm.s,
.usfm.is {
    font-weight: bold;
}

.usfm.is {
    margin-top: 0;
}

.usfm.imt{
    font-size: 2.0em;
}

.usfm.io{
    display: list-item;
    list-style-type: none;
}

.usfm_introductions.io2 {
    margin-left: $indent_left_level_1;
}

/*.usfm.ib{
    display: block;
}
.usfm.ib:after{
    content: " ";
    white-space: pre;
}*/
.usfm.ip{
    margin-left: $indent_left_level_1;
}

.usfm.iot{
    margin-top: $margin_top_level_1 +5px;
    font-weight: bold;
}
/* no more display block on br_start_paragraphs
.usfm.iot + .usfm.br_start_paragraphs {
    display: none;
}
*/
.usfm.zir {
    font-style: italic;
}

/* introductions */

/* titlesheadingsandlabel */
.usfm.mt,
.usfm.mte {
    font-size: 2.7em;
}

.usfm.sr {
    font-size: 0.8em;
    font-style: italic;
}

.usfm.ms {
    text-transform: uppercase;
    font-weight: bold;
}

.usfm.s {
    margin-top: $margin_top_level_1;
}
/* no more display block on br_start_paragraphs
.usfm.s + .usfm.br_start_paragraphs {
    display: none;
}
*/

.usfm.r{
    font-size: 0.8em;
    font-style: italic;
}

.usfm.d {
    display: block;
    font-style: italic;
}
.usfm.d.empty_tag {
    display: inline;
}

.usfm.d.empty_tag + .usfm.v {
    font-style: italic;
}

.usfm.sp { 
    font-style: italic;
    margin-top: $margin_top_level_1;
    font-weight: 300;
}
/* no more display block on br_start_paragraphs
.usfm.sp + .usfm.br_start_paragraphs {
    display: none;
}
*/

.usfm.sd { 
    white-space: pre;
    height: 40px;
}

/* titlesheadingsandlabel */

/* poetry */
.usfm.q{}

.usfm.q1{
    margin-left: $indent_left_level_1;
}
.usfm.q2{
    margin-left: $indent_left_level_2;
}
.usfm.q3{
    margin-left: $indent_left_level_3;
}

.usfm.qa{
    font-style: italic;
    font-size: 0.9rem;
    opacity: 0.8;
    text-align: center;
}
/* poetry */

/* wordsandcharacters */
.usfm.bk{
    font-style: italic;
}

.usfm.qt{
    font-style: oblique;
}

.usfm.add{
    font-style: oblique;
    font-weight: lighter;
}

.usfm.sig{
    font-style: italic;
}

.usfm.sls{
    font-style: oblique;
    font-weight: lighter;
}

.usfm.tl{
    font-style: italic;
}
/* wordsandcharacters */

/* characterstyling */
.usfm.no {
    font-style:normal;
}
/* characterstyling */

/* lists */
.usfm.lh{
    margin-left: $indent_left_level_1/2;
}
.usfm.lh + .usfm.v::after{
    display: block;
    white-space: "pre-line";
    padding-bottom: $padding_bottom_level_1;
    content: "";
}


.usfm.li{
    margin-left: $indent_left_level_1;
}

.usfm.li2{
    margin-left: $indent_left_level_2;
}

.usfm.li3{
    margin-left: $indent_left_level_3;
}

.usfm.lf{
    margin-top: $margin_top_level_1;
    display: block;
}

.usfm.lim{
    margin-left: $indent_left_level_1/2;
}

.usfm.lik,
.usfm.liv{
  display: table-cell;
  padding-right: $padding_right_level_1;
}

.usfm.litl{
  display: inline-block;
  position: absolute;
  right: 0;
}
@-moz-document url-prefix() {
    .usfm.litl{
        display: block;
        float: inline-end;
        right: unset;
        position: unset;
    }
}

/* lists */

/* paragraphs */
.usfm.p{
    margin-left: $indent_left_level_1;
}

.usfm.pb{
    margin-bottom: 60px;
}
.usfm.pb::after{
    content: " ";
    white-space: pre;
}

/*.usfm.b{
    display: block;
}
.usfm.b::after{
    content: " ";
    white-space: pre;
}*/

.usfm.m{}

.usfm.mi,
.usfm.mi.empty_tag + .usfm.v{
    margin-left: $indent_left_level_1;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.usfm.mi.empty_tag {
    margin-left: 0px;
}

.usfm.pm {
  margin-left: $indent_left_level_1/2;
}

.usfm.pmc {
  margin-left: $indent_left_level_1/2;
}

/* paragraphs */

/* crossreferences */
.usfm.xop,
.usfm.xo{
    font-weight: 600;
}
.usfm.xta{
    font-weight: 600;
}
/* crossreferences */

/* footnotes */
.usfm.fr{
    font-weight: bold;
}
.usfm.fq{
    font-style: italic;
}
.usfm.fk{
    font-style: normal;
    font-weight: lighter;
}
.usfm.fqa{
    font-style: italic;
}
.usfm.fv{
    font-weight: bold;
}
.usfm.fm{
    vertical-align: super;
    font-size: .7em;
}
/* footnotes */

/* specialfeatures */
.usfm.fig{
    display: none;
}
/* specialfeatures */

/* tables */
div.usfm.usfm_tables {
    margin: $indent_left_level_1;
}
.usfm.tables { 
    width: 100%;
}
.usfm.tr { }

.usfm.th,
.usfm.thr { 
    font-style: italic;
}
.usfm.thr {
    text-align: right
}

.usfm.tc { }
.usfm.tcr { 
    text-align: right
}
/* tables */
